{% extends 'blog/base1.html' %}

{% block content %}

<div class="container">
    <h1>About the Company </h1>
    <P>Thanks for Checking it out</P>

    <h2 class="display-4 text-center py-5 my-4">Meet the Writers</h2>
    <nav class="nav justify-content-center nav-pills flex-column flex-md-row">
    <a class="nav-link active" href="#first" data-toggle="tab">Devraj Rana Magar</a>
    <a class="nav-link" href="#second" data-toggle="tab">Wild Thompson</a>
    <a class="nav-link" href="#third" data-toggle="tab">ChiGue Vara</a>
    <a class="nav-link" href="#fourth" data-toggle="tab">Arnold Michelson</a>


</nav>
    <div class="tab-content py-5">
    <div class="tab-pane active"id="first">
        <h3>Devraj Rana Magar</h3>
        <p>The <span data-toggle="tooltip" title="the creator of this blog"class="text-info">producer</span> of the blog.</p>
    </div>

    <div class="tab-pane"id="second">
        <h3>Wild Thompson</h3>
        <p></p>
    </div>

    <div class="tab-pane"id="third">
        <h3>ChiGue Vara</h3>
        <p></p>
    </div>

    <div class="tab-pane"id="fourth">
        <h3>Arnold Michelson</h3>
        <p></p>
    </div>
    </div>
</div>




</div>

{% endblock %}